/**
 * Header
 */
.header {
  margin: auto;
  box-sizing: border-box;
  font-size: 16px;
  height: 95px;
  line-height: 40px;
  padding: 20px 70px 13px 70px; /* TRouBLe */
  position: fixed;
  width: 99vw;
  z-index: 1000;
  margin: 0;
  background-color: #000;
  color: #fff;
}

.header h1 {
  flex: 1;
  font-size: 20px;
  font-weight: 400;
}

.header button {
  border: solid 2px #FF8200;
  background-color: #000;
  color: #fff;
  margin-left: 20px;
  height: 30px;
}

.header button:hover {
  background-color: #d06a00;
  color: #fff;
}

button {
  font-family: monospace;
  font-size: 1.2rem;
  color: #FF8200;
  text-transform: uppercase;
  padding: 3px 20px;
  border-radius: 10px;
  border: 2px solid #FF8200;
  background: #000;
  box-shadow: 3px 3px #d06a00;
  cursor: pointer;
  margin: 3px 0;
}

button:active {
  box-shadow: none;
  background: #252525;
  transform: translate(3px, 3px);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: monospace;
}


.button-container button {
  width: calc(100% - 40px);
  margin: 5px 20px;
  text-align: center;
}

.firmware {
  height: 25px;
  font-size: 16px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 2px;
}

body {
  margin: auto;
  overflow: hidden;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 99vw;
  height: 99vh;
  border: 1px solid #FF8200;
  background-color: #000;
  color: #fff;
}

p {
  margin: 0;
}

input, select, button {
  background-color: #333;
  color: #fff;
}

input,
select,
button,
label {
  font-weight: 600;
  outline: none;
}

div.left {
  float: left;
  display: flex;
  align-items: center;
}

div.right {
  float: right;
  position: relative;
  display: flex;
  align-items: center;
}

div.clear {
  clear: both;
}

.main {
  position: absolute;
  top: 80px;
  left: 200px;
  right: 10px;
  bottom: 10px;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.notSupported {
  padding: 0.5em;
  margin-top: 0.5em;
  background-color: #f70;
  color: #fff;
}

.subheader {
  height: 23px;
  line-height: 23px;
  padding-left: 70px;
  padding-right: 70px;
}

.subheader .title {
  font-size: 36px;
  font-weight: 500;
}

img.pagename {
    position: relative;
    top: -20px; /* This will move it 20px up */
    left: 20px; /* This will move it 20px to the right */
}

#app.connected #commands {
  height: 100px;
}

#app.connected #log {
  height: calc(100vh - 510px);
}

#app #commands {
  height: 0;
}

#app #log {
  height: calc(100vh - 410px);
}

i .icons {
  display: inline;
}

#commands,
#log {
  transition: height 0.5s;
}

#commands {
  position: relative;
  margin: 0 auto;
  overflow-y: auto;
  padding: 0 60px;
}

#log {
  margin: auto;
  margin-right: 17px;
  margin-left: 16px;
  padding: 2px 10px;
  font-family: pt-mono, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  overflow-x: auto;
  transition: color 0.1s linear;
  border: 1px solid #FF8200;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #252525;
  color: #cecece;
}

#log::-webkit-scrollbar {
  display: none;
}
#app.connected::-webkit-scrollbar {
  display: none;
}

#commands.connected {
  overflow: hidden;
}

.footer {
  padding-left: 70px;
  padding-right: 70px;
}

.footer a {
  color: orange;
}

.footer .controls {
  line-height: 45px;
}

.remix {
  display: flex;
  justify-content: center;
  height: 60px;
  position: relative;
}

.remix button {
  position: absolute;
  bottom: 11px;
  border-color: #fff;
  color: #fff;
}

.remix button:hover {
  background-color: #fff;
}

#templates {
  display: none;
}

#butClear {
  display: block;
  margin-top: 10px;
}

#commands {
  min-width: 600px;
  justify-content: center;
  position: relative;
  align-items: center;
}

#commands .upload {
  width: 600px;
  display: flex;
  align-items: center;
  margin: 5px auto;
  justify-content: center;
}

#commands .upload .offset {
  width: 50px;
}

#commands .upload label {
  white-space: nowrap;
}

.notSupported, .notSupported a {
  background-color: red;
  color: white;
  width: 80vw;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: relative;
  transform: translateY(-50%);
}

.firmware > input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.firmware {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.firmware:focus,
.firmware:hover {
  color: #fff;
}

.firmware > svg {
  margin-right: 10px;
}

.firmware:disabled {
  color: #ccc;
  border-color: #ccc;
}

.firmware:disabled:hover {
  background-color: #fff;
}

input {
  background-color: #fff;
  color: #333;
}

.debug-function {
  color: #8ec641;
}

.error-message {
  color: #c64141;
}

.timestamp {
  color: #8ec641;
}

.progress-bar {
  height: 24px;
  width: 500px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.progress-bar > div {
  height: 24px;
  width: 500px;
  background-color: #71ae1e;
}

#commands .buttons {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 10px auto;
  border-color: #FF8200;
  background-color: #000;
  color: #fff;
}

#commands button:hover {
  background-color: #fff;
  color: #000;
}

#commands .buttons button {
  margin-left: 10px;
  margin-right: 10px;
  border-width: 2px;
  border-style: solid;
}

#commands .buttons button:disabled,
#commands .buttons button:disabled:hover{
  border-color: #999;
  background-color: #888;
  color: #ccc;
}

#commands .buttons button:hover {
  background-color: #d06a00;
  color: #fff;
}

.justify {
  display: flex;
  justify-content: space-between;
}
.center {
  text-align: center;
}
.flashMessages {
  display: none; /* Initially hide */
  position: absolute;
  top: 0;
  right: 50px;
  background-color: #f80000;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  width: calc(100% - 100px);
  z-index: 9999;
}

.sections-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto; 
  width: 50%;
  height: auto;
}

.developer-section, .retailer-section {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: relative;
  min-height: 150px;
}

.sections-container::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 2px;
  background-color: #d06a00;
  z-index: 1;
}

.developer-section h3, .retailer-section h3 {
  border-bottom: 2px solid #d06a00; 
  padding-bottom: 5px; 
}

.developer-section::before, .retailer-section::before {
  content: none;
}

.developer-section a, .retailer-section a {
  margin-top: 2px;
  color: #ffa500;
  position: relative;
}

.developer-section::after, .retailer-section::after {
  content: none;
}

.credits {
  text-align: center;
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 12px;
}

.dropdown {
  background-color: #252525;
  color: #FFFFFF;
  padding: 5px 10px;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #FF8200; 
  margin: 5px;
  box-shadow: 3px 3px #d06a00;
  appearance: none; 
  -webkit-appearance: none; 
  cursor: pointer;
}

.dropdown:hover {
  background-color: #1e1e1e; 
}

.dropdown:focus {
  outline: none; 
  border-color: #ffa500; 
}

.dropdown option {
  padding: 10px;
  background-color: #252525; 
  color: #FFFFFF; 
}

.dropdown optgroup {
  font-weight: bold;
  color: #FF8200;
}

.version td {	
  border-collapse: collapse; /* Collapse borders for a tighter appearance */
  border-spacing: 0; /* Remove spacing between borders */
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
  padding-top: 0px;
  padding-bottom: 100px;  
}

    .top-text {
        position: relative;
        top: 0;
    }

.terminal {
  position: absolute;
  top: 103px;
  left: 216px;
  right: 27px;
  bottom: 182px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #cecece;
  font-family: 'proxima-nova', sans-serif;
  padding: 15px;
  box-sizing: border-box;
}

.connection-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

.connection-controls-side {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.connection-controls-side .dropdown-container {
  margin-bottom: 10px;
}

.connection-controls-side label {
  color: #FFFFFF;
  font-family: monospace;
  font-size: 1rem;
  margin-bottom: 0px;
}

.connection-controls-side .dropdown {
  padding: 5px 10px;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #FF8200;
  background-color: #000;
  color: #FFFFFF;
  box-shadow: 3px 3px #d06a00;
  cursor: pointer;
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.connection-controls-side .dropdown:focus {
  outline: none;
  border-color: #ffa500;
}

.connection-controls-side .dropdown-container::after {
  position: absolute;
  right: 15px;
  top: calc(50% + 15px);
  pointer-events: none;
  color: #fff;
}

.connection-controls-left {
  display: flex;
  align-items: center;
}

.terminal-output {
  flex-grow: 1;
  background-color: #252525;
  color: #cecece;
  border: 1px solid #FF8200;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; 
}

.terminal-output pre {
  overflow-x: hidden;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.terminal-input-row {
  display: flex;
  align-items: center;
}

.terminal-input {
  flex-grow: 1;
  background-color: #252525;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 0;
  border: 2px solid #FF8200;
  margin-right: 10px;
}

.dropdown-container {
    margin-bottom: 5px; 
}

#baudRate,
#endOfLine {
  padding: 5px 10px;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #FF8200;
  background-color: #000;
  color: #FFFFFF;
  box-shadow: 3px 3px #d06a00;
  cursor: pointer;
}

#baudRate,
#endOfLine {
  margin-right: 20px;
  background-color: transparent;
}

#baudRate:hover,
#endOfLine:hover {
  background-color: #d06a00;
}

#baudRate:focus,
#endOfLine:focus {
  outline: none;
  border-color: #ffa500;
}

#butClear,
#butConnect,
#butHome,
#butSend,
#butDisconnect {
  padding: 3px 20px;
  font-family: monospace;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid #FF8200;
  background: #000;
  box-shadow: 3px 3px #d06a00;
  cursor: pointer;
}

#butClear:hover,
#butSend:hover,
#butConnect:hover,
#butHome:hover,
#butDisconnect:hover {
  background-color: #d06a00;
  color: #fff;
}

#modelSelect:hover,
#versionSelect:hover,
#variantSelect:hover {
  background-color: #d06a00;
}

#modelSelect:focus,
#versionSelect:focus,
#variantSelect:focus {
  outline: none;
  border-color: #ffa500;
}

#modelSelect optgroup,
#versionSelect optgroup,
#variantSelect optgroup {
  font-weight: bold;
  color: #FF8200;
  background-color: #252525;
}

.sidebar {
  width: 200px;
  position: fixed;
  z-index: 2;
  top: 103px;
  left: 20px;
  bottom: 10px;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.sidebar-button {
  display: inline-block;
  font-family: monospace;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 10px;
  border-radius: 10px;
  border: 2px solid #FF8200;
  background: #000;
  box-shadow: 3px 3px #d06a00;
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #d06a00;
  color: #fff;
}

.container {
  margin-top: 117px;
  margin-right: 33px;
  margin-left: 222px;
  padding: 2px 10px;
  word-wrap: break-word; 
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #FF8200;
  background: #252525;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

.custom-baud-rate-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.custom-baud-rate-container label {
  color: #FFFFFF;
  font-family: monospace;
  font-size: 1rem;
  margin-bottom: 5px;
}

.custom-baud-rate-container input {
  padding: 2px 10px;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #FF8200;
  background-color: #000;
  color: #FFFFFF;
  box-shadow: 3px 3px #d06a00;
  cursor: text;
}

.custom-baud-rate-container input:focus {
  outline: none;
  border-color: #ffa500;
}

.custom-baud-rate-container input::-webkit-outer-spin-button,
.custom-baud-rate-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-baud-rate-container input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}